<script>
  if (document.location.pathname.endsWith("othertools.html")) {
    document.location.href="/#othertools";
  }
</script>
<!-- Masthead-->
<header class="masthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]othertools_main_header">Other Tools</h1>
    </div>
  </div>
  </div>
</header>
<!-- Other Tools section-->
<section class="page-section" id="othertools">
  <div class="container">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]home_head_othertools">Other Tools</h2>
    <hr class="divider my-4"/>
    <!--div class="row">
      <h4 class="col-lg-12 text-center text-white mt-2" data-i18n="[html]othertools_header">other tools...</h4>
      <br/>
    </div-->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="mb-0">
          <ul>
            <li class="text-white">
              <a href="https://symptomate.com" target="_blank">https://symptomate.com</a>
            </li>
            <li class="text-white">
              <a href="https://qxmd.com/calculate/calculator_731/covid-19-prognostic-tool" target="_blank">https://qxmd.com/calculate/calculator_731/covid-19-prognostic-tool</a>
            </li>
            <li class="text-white">
              <a href="https://support.healthengine.com.au/hc/en-us/articles/360040822031-Coronavirus-COVID-19-Risk-Assessment-Tool" target="_blank">https://support.healthengine.com.au/hc/en-us/articles/360040822031-Coronavirus-COVID-19-Risk-Assessment-Tool</a>
            </li>
            <li class="text-white">
              <a href="http://www.bristol.ac.uk/news/2020/april/germ-defence.html" target="_blank">http://www.bristol.ac.uk/news/2020/april/germ-defence.html</a>
            </li>
            <li class="text-white">
              <a href="https://www.covid19survivalcalculator.com/" target="_blank">https://www.covid19survivalcalculator.com/</a>
            </li>
        </p>
      </div>
    </div>
  </div>
</section>
